[Unit]
Description=Placement driver for TiKV
After=network-online.target
Wants=network-online.target

[Service]
User=nobody
Group=nobody
EnvironmentFile=-/etc/sysconfig/pd-server
ExecStart=/usr/bin/pd-server $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
