[Unit]
Description=TiDB is a distributed NewSQL database compatible with MySQL protocol
After=network-online.target
Wants=network-online.target

[Service]
User=mysql
Group=mysql
EnvironmentFile=-/etc/sysconfig/tidb-server
ExecStart=/usr/bin/tidb-server $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillSignal=SIGINT
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
