[Unit]
Description=TiDB is a distributed NewSQL database compatible with MySQL protocol
After=network-online.target
Wants=network-online.target

[Service]
User=tidb
Group=tidb
ExecStart=/usr/bin/tidb-server -config /etc/tidb/tidb.toml
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
